
<p>
  Author: <%= @message.author %>
</p>

<p>
  Content: <%= @message.content  %><br>
  URL: <a href="<%= @message.url  %>"><%= @message.url  %></a><br>
  Created At: <%= @message.created_at  %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>